<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="XMLTV2MXF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="XMLTV2MXF.XMLTV2MXF" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <XMLTV2MXF.Properties.Settings>
      <setting name="usePreProcessor" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="preProcessorCommand" serializeAs="String">
        <value>c:\Guide\xmlTVNZ.exe C:\Guide\xmltvnz.xml -days 7 -nooffset default_tv1 default_tv2 default_tv3 default_c4 default_tvnz6 default_tvnz7 default_tvnzsportextra default_maori</value>
      </setting>
      <setting name="inputXMLTVfile" serializeAs="String">
        <value>c:\Guide\xmltvnz.xml</value>
      </setting>
      <setting name="outputMXFfile" serializeAs="String">
        <value>c:\Guide\Guide.MXF</value>
      </setting>
      <setting name="providerString" serializeAs="String">
        <value>XMLTVNZ</value>
      </setting>
      <setting name="ChannelsXML" serializeAs="String">
        <value>c:\Guide\Channels.xml</value>
      </setting>
      <setting name="usePostProcessor" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="postProcessorCommand" serializeAs="String">
        <value>c:\windows\ehome\LoadMXF.exe -i $OUTPUTFILE</value>
      </setting>
    </XMLTV2MXF.Properties.Settings>
    <XMLTV2MXF.XMLTV2MXF>
      <setting name="usePreProcessor" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="preProcessorCommand" serializeAs="String">
        <value>c:\XMLTVNZ\xmltvnz.exe $INPUTFILE default_tv1</value>
      </setting>
      <setting name="inputXMLTVfile" serializeAs="String">
        <value>c:\XMLTVNZ\xmltvnz.xml</value>
      </setting>
      <setting name="outputMXFfile" serializeAs="String">
        <value>Guide.MXF</value>
      </setting>
      <setting name="ProviderString" serializeAs="String">
        <value>XMLTVNZ</value>
      </setting>
      <setting name="ChannelsXML" serializeAs="String">
        <value>Channels.xml</value>
      </setting>
      <setting name="usePostProcessor" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="postProcessorCommand" serializeAs="String">
        <value>c:\windows\ehome\LoadMXF.exe -i $OUTPUTFILE</value>
      </setting>
    </XMLTV2MXF.XMLTV2MXF>
  </userSettings>
</configuration>